<ol class="breadcrumb">
  <li><a ui-sref="index">项目在线率管理</a></li>
  <li class="active">项目在线率统计分析</li>
</ol>
<h1>接入项目统计分析</h1>
<p>
  <div class="templatemo-charts">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading">接入项目数/在线项目数</div>
        </div>
        <div class="row templatemo-chart-row">

          <div class="templatemo-chart-box col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <canvas id="pie" class="chart chart-pie" chart-data="dataall"
              chart-labels="labelsall" chart-legend="false" chart-colours="coloursall">
            </canvas> 
            <h4>项目接入数:450</h4>
          </div>
          <div class="templatemo-chart-box col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <canvas id="doughnut" class="chart chart-doughnut"
              chart-data="dataonline" chart-labels="labelsonline">
            </canvas> 
            <h4>总在线项目数:400</h4>
          </div>
          <div class="templatemo-chart-box col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <canvas id="radar" class="chart chart-radar"
              chart-data="dataoffline" chart-labels="labelsoffline">
            </canvas> 
            <h4>项目离线原因分析</h4>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="panel panel-success">
            <div class="panel-heading">接入项目在线率折线图</div>
            <canvas id="line" class="chart chart-line" chart-data="datacomming"
              chart-labels="labelscomming" chart-legend="true" chart-series="seriescomming"
              chart-click="onClick" >
            </canvas> 
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="panel panel-primary">
            <div class="panel-heading">接入项目在线率柱状图</div>
            <canvas id="bar" class="chart chart-bar"
              chart-data="datacomming" chart-labels="labelscomming" chart-series="seriescomming" chart-legend="true">
            </canvas>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</p>
