<ol class="breadcrumb">
  <li><a ui-sref="#">API接入管理</a></li>
  <li><a ui-sref="APIProjectList">API接入项目档案列表</a></li>
  <li class="active">API接入项目</li>
</ol>
<h1>API接入项目</h1>
<p>
  <div class="row">
    <div class="col-md-12">
      <form role="form" id="templatemo-preferences-form">
        <div class="row">
          <div class="col-md-6 margin-bottom-15">
            <label for="customerCode" class="control-label">客户编号</label>
            <input type="text" class="form-control" id="customerCode" value="" >
          </div>
          <div class="col-md-6 margin-bottom-15">
            <label for="customerName" class="control-label">客户名称</label>
            <input type="text" class="form-control" id="customerName" value="" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 margin-bottom-15">
            <label for="projectCode" class="control-label">项目编号</label>
            <input type="text" class="form-control" id="projectCode" value="" >
          </div>
          <div class="col-md-6 margin-bottom-15">
            <label for="projectName" class="control-label">项目名称</label>
            <input type="text" class="form-control" id="projectName" value="" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 margin-bottom-15">
            <label for="frontEndVersion" class="control-label">前端产品版本</label>
            <select class="form-control margin-bottom-15" id="frontEndVersion" >
              <option>G3物业版3.1.0</option>
              <option>G3商业版</option>
              <option>G3 3.2.1</option>
              <option>G3 4.1</option>
              <option>G3 4.2</option>
              <option>JSDS</option>
            </select>
          </div>
          <div class="col-md-6 margin-bottom-15">
            <label for="adapterVersion" class="control-label">适配器版本</label>
            <select class="form-control margin-bottom-15" id="adapterVersion" >
              <option>G3 4.1</option>
              <option>G3 4.2</option>
            </select>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6 margin-bottom-15">
            <label class="control-label">所属系统</label>
             <select class="form-control" ng-model="subsystem" ng-options="subsystem.label for subsystem in subsystems">
              <option value="">-- 请选择所属系统 --</option>
            </select>
          </div>
          <div class="col-md-6 margin-bottom-15">
            <label class="control-label">所属分公司</label>
             <select class="form-control" ng-model="subcompany"
              ng-options="subcompany for subcompany in subsystem.subcompanys">
              <option value="">-- 请选择所属分公司 --</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 margin-bottom-15">
            <label for="linkDate" class="control-label">接入版本</label>
            <select class="form-control margin-bottom-15" id="bizSystem" >
            <option>V1.0</option>
            <option>V2.0</option>
           </select>
          </div>
          <div class="col-md-6 margin-bottom-15">
             <label for="linkMaster" class="control-label">联调负责人</label>
            <input type="text" class="form-control" id="linkMaster" value="" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 margin-bottom-15">
            <label for="projectName" class="control-label">联调接入日期</label>
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dt" is-open="opened" close-text="Close" required/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div class="col-md-6 margin-bottom-15">
            <label for="projectName" class="control-label">转生产环境日期</label>
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dt1" is-open="opened1" close-text="Close" required/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openCalendar1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="table-responsive form-table">
           <label  class="control-label">对接功能</label>
            <table class="table table-striped table-hover table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>编辑</th>
                  <th>测试状态</th>
                  <th>接口名称</th>
                  <th>接口服务</th>
                  <th>最近测试日期</th>
                  <th>具备参数</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>
                    <a href="#" class="btn btn-default btn-sm">测试</a>
                    <a href="#" class="btn btn-default btn-sm">删除</a>
                  </td>
                  <td>正常</td>
                  <td>查询人员门禁设备协议</td>
                  <td>3c.door.querydoors</td>
                  <td>2016-05-11 11:20:00</td>
                  <td>是
                    <a href="javascript:;" data-toggle="modal" data-target="#parameterSetting">设置</a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>
                    <a href="#" class="btn btn-default btn-sm">测试</a>
                    <a href="#" class="btn btn-default btn-sm">删除</a>
                  </td>
                  <td>正常</td>
                  <td>门禁开门</td>
                  <td>3c.door.opendoor</td>
                  <td>2016-05-11 11:21:00</td>
                  <td>是
                    <a href="javascript:;" data-toggle="modal" data-target="#parameterSetting">设置</a>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>
                    <a href="#" class="btn btn-default btn-sm">测试</a>
                    <a href="#" class="btn btn-default btn-sm">删除</a>
                  </td>
                  <td>异常</td>
                  <td>停车场空车位数查询</td>
                  <td>3c.park.queryparkspace</td>
                  <td>2016-05-11 10:21:00</td>
                  <td class="offline">否
                    <a href="javascript:;" data-toggle="modal" data-target="#parameterSetting">设置</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="pull-left" style="margin-top: -18px;">
              <a href="APIList.html" class="btn btn-default btn-sm">新增接口</a>
              <a href="#" class="btn btn-default btn-sm">全部测试</a>
            </div>
          </div>

        </div> 
        <div class="row">
          <div class="col-md-12 margin-bottom-15" style="margin-top: 20px;">
            <label for="notes" class="control-label">备注</label>
            <textarea class="form-control" rows="3" id="notes"></textarea>
          </div>
        </div>
      
        <div class="row templatemo-form-buttons">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary">保存</button>
            <button type="reset" class="btn btn-default">重置</button>    
            <button type="cancel" class="btn btn-default">取消</button>    
          </div>
        </div>
      </form>
    </div>
  </div>
</p>