<ol class="breadcrumb">
  <li><a ui-sref="#">自动化部署管理</a></li>
  <li><a ui-sref="Projects">项目档案 </a></li>
  <li class="active">项目档案信息新增</li>
</ol>
<h1>项目档案信息新增</h1>
<p>
<div class="row">
    <div class="col-md-12">
      <form role="form" id="templatemo-preferences-form">
        <div class="row">
          <div class="col-md-6 margin-bottom-15">
            <label for="customerCode" class="control-label">项目编号</label>
            <input type="text" class="form-control" id="customerCode" value="" disabled required>
          </div>
          <div class="col-md-6 margin-bottom-15">
            <label for="customerName" class="control-label">项目名称</label>
            <input type="text" class="form-control" id="customerName" value="" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 margin-bottom-15">
            <label for="customerCode" class="control-label">项目类型</label>
            <select class="form-control margin-bottom-15" id="bizSystem" >
              <option>自建</option>
              <option>租用</option>
              <option>独立</option>
           </select>
          </div>
          <div class="col-md-6 margin-bottom-15">
            <label for="customerName" class="control-label">客户类型</label>
            <select class="form-control margin-bottom-15" id="bizSystem" >
              <option>A1</option>
              <option>A2</option>
              <option>A3</option>
           </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 margin-bottom-15">
            <label for="projectCode" class="control-label">项目开始日期</label>
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dt" is-open="opened" close-text="Close" required/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div class="col-md-6 margin-bottom-15">
            <label for="projectName" class="control-label">负责人</label>
            <input type="text" class="form-control" value="" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 margin-bottom-15">
            <label for="frontEndVersion" class="control-label">所属分公司</label>
            <input type="text" class="form-control" value="" required>
          </div>
          <div class="col-md-6 margin-bottom-15">
            <label for="frontEndVersion" class="control-label">所属系统</label>
            <select class="form-control margin-bottom-15" id="bizSystem" >
              <option>业务一系统</option>
              <option>业务二系统</option>
              <option>业务三系统</option>
           </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 margin-bottom-15">
            <label for="frontEndVersion" class="control-label">主机数</label>
            <input type="text" class="form-control" id="projectName" value="0" disabled required>
          </div>
          <div class="col-md-6 margin-bottom-15">
            <label for="onlineStataus" class="control-label">项目状态</label>
            <br>
           <label class="radio-inline">
            <input type="radio" name="onlineStataus" id="onlineStataus1" value="onlinie" checked> 正常
          </label>
          <label class="radio-inline">
            <input type="radio" name="onlineStataus" id="onlineStataus2" value="offline"> 停用
          </label>
          </div>
        </div>
        
        <div class="row">
          <div class="table-responsive form-table">
            <label  class="control-label">主机列表</label>
            <button class="btn btn-primary" ng-click="showit()">新增</button>
            <div class="row" ng-show="showorhide">
              <br>
              <div class="col-md-3">
                <input type="text" class="form-control" placeholder="主机IP">
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control" placeholder="主机名称">
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control" placeholder="服务名称">
              </div>
              <div class="col-md-3">
                <button class="btn btn-default" ng-click="save()">保存</button>
                <button class="btn btn-default" ng-click="hideit()">取消</button>
              </div>
            </div>
            <br>
            <table class="table table-striped table-hover table-bordered table-condensed">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Edit</th>
                  <th>主机IP</th>
                  <th>主机名称</th>
                  <th>服务名称</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="host in hosts">
                  <td>{{$index+1}}</td>
                  <td><a ng-click="edit(this)" class="btn btn-default">编辑</a>&nbsp; &nbsp;<a ng-click="delete(this)" class="btn btn-danger">删除</a></td>
                  <td>{{host.ip}}</td>
                  <td>{{host.name}}</td>
                  <td>{{host.servicename}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div> 
        <div class="row">
          <div class="col-md-12 margin-bottom-15">
            <label for="notes">备注</label>
            <textarea class="form-control" rows="3" id="notes"></textarea>
          </div>
        </div>
      
        <div class="row templatemo-form-buttons">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary">保存</button>
            <button type="reset" class="btn btn-default">重置</button>    
            <button type="cancel" class="btn btn-default">取消</button>    
          </div>
        </div>
      </form>
    </div>
  </div>
</p>
