<ol class="breadcrumb">
  <li><a ui-sref="#">API接入管理</a></li>
  <li class="active">API接入客户档案</li>
</ol>
<h1>API接入客户档案列表</h1>

<div class="row margin-bottom-30">
  <div class="col-md-12">
    <ul class="nav nav-pills">
      <li ng-repeat="item in items" class="{{item.style}}" ng-click="active($index)"><a class="btn">{{item.name}} <span class="badge">{{item.count}}</span></a></li>
    </ul>          
  </div>
</div> 
<div class="row">
  <div class="col-md-12">
    <div class="btn-group pull-right" id="templatemo_sort_btn">
      <button type="button" class="btn btn-default">Sort by</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="menu in menus"><a class="btn" ng-click="sortBy(menu)">{{menu}}</a></li>
      </ul>
    </div>
    <div class="table-responsive">
      <h4 class="margin-bottom-15">项目列表</h4>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Edit</th>
            <th>合作状态</th>
            <th>客户编号</th>
            <th>客户名称</th>
            <th>接入日期</th>
            <th>业务联系人</th>
            <th>所属系统</th>
            <th>所属分公司</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="customer in customers">
            <td>{{ $index + 1 }}</td>
            <td><a ng-click="edit(this)" class="btn btn-default">Edit</a></td>
            <td>{{customer.status}}</td>
            <td>{{customer.code}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.date}}</td>
            <td>{{customer.person}}</td>
            <td>{{customer.subsystem}}</td>
            <td>{{customer.subcompany}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="formactdion pull-left">
        <a ui-sref="APICustomerAdd" class="btn btn-primary">新增</a>
      </div>
      <ul class="pagination pull-right">
        <li class="enable" ng-click="first()"><a ui-sref="APICustomerList">首页</a></li>
        <li class="{{leftpagestatus}}" ng-click="leftchangepage()"><a ui-sref="APICustomerList">&laquo;</a></li>

        <li class="{{page.status}}" ng-repeat="page in pages" ng-click="changepage($index)"><a class='btn'>{{ page.index + 1 }}</a></li>

        <li class="{{rightpagestatus}}" ng-click="rightchangepage()"><a ui-sref="APICustomerList">&raquo;</a></li>
        <li class="{{rightpagestatus}}" ng-click="rightchangepage()"><a ui-sref="APICustomerList">共&nbsp; &nbsp;{{allpages}}&nbsp; &nbsp;页</a></li>
      </ul>
    </div>
  </div>
</div>