<ol class="breadcrumb">
  <li><a ui-sref="#">自动化部署管理</a></li>
  <li><a ui-sref="Services">服务档案</a></li>
  <li class="active">服务信息编辑</li>
</ol>
<h1>服务信息编辑</h1>
<p>
<div class="row">
    <div class="col-md-12">
      <form role="form" id="templatemo-preferences-form">
        <div class="row">
          <div class="col-md-6 margin-bottom-15">
            <label for="customerCode" class="control-label">服务编号</label>
            <input type="text" class="form-control" id="customerCode" value="0001" disabled required>
          </div>
          <div class="col-md-6 margin-bottom-15">
            <label for="customerName" class="control-label">服务名称</label>
            <input type="text" class="form-control" id="customerName" value="云服务" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 margin-bottom-15">
            <label for="customerName" class="control-label">主机总数</label>
            <input type="text" class="form-control" id="customerName" value="100" disabled required>
          </div>
          <div class="col-md-6 margin-bottom-15">
            <label for="customerCode" class="control-label">ip段</label>
            <input type="text" class="form-control" id="customerName" value="10.10.201.1/22" required>
          </div>
        </div>
        
        <div class="row">
          <div class="table-responsive form-table">
            <label  class="control-label">主机列表</label>
            <br>
            <table class="table table-striped table-hover table-bordered table-condensed">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Edit</th>
                  <th>主机状态</th>
                  <th>主机名称</th>
                  <th>主机IP</th>
                  <th>服务名称</th>
                  <th>项目名称</th>
                  <th>所属系统</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="host in hosts">
                  <td>{{ $index + 1 }}</td>
                  <td><a class="btn btn-default" ng-click="edit(this)">Edit</a></td>
                  <td>{{host.status}}</td>
                  <td>{{host.name}}</td>
                  <td>{{host.ip}}</td>
                  <td>{{host.servicename}}</td>
                  <td>{{host.projectname}}</td>
                  <td>{{host.subsystem}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> 
        <div class="row">
          <div class="formactdion pull-left">
            <ul class="pagination pull-right">
              <li class="enable" ng-click="first()"><a ui-sref="ServicesEdit">首页</a></li>
              <li class="{{leftpagestatus}}" ng-click="leftchangepage()"><a ui-sref="ServicesEdit">&laquo;</a></li>

              <li class="{{page.status}}" ng-repeat="page in pages" ng-click="changepage($index)"><a class='btn'>{{ page.index + 1 }}</a></li>

              <li class="{{rightpagestatus}}" ng-click="rightchangepage()"><a ui-sref="ServicesEdit">&raquo;</a></li>
              <li class="{{rightpagestatus}}" ng-click="rightchangepage()"><a ui-sref="ServicesEdit">共&nbsp; &nbsp;{{allpages}}&nbsp; &nbsp;页</a></li>

            </ul>
          </div>
        </div>
        <br><br><br>
        <div class="row templatemo-form-buttons">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary">保存</button>
            <button type="reset" class="btn btn-default">重置</button>    
            <button type="cancel" class="btn btn-default">取消</button>    
          </div>
        </div>
      </form>
    </div>
  </div>
</p>
